/* Header y navbar*/
.logo {
  font-size: 30px;
  /* orientation: landscape; */
  width: 75px;
  height: 75px;
}

@media (min-width: 300px) {
  .logo {
    width: 55px;
    height: 55px;
  }
}
.whatsapp {
  padding-left: 20px;
  padding-bottom: 10px;
  z-index: 1;
}
@media (min-width: 300px) {
  .whatsapp {
    padding-left: 7px;
    padding-bottom: 37px;
  }
}
.whatsapp .whatsappImagen {
  width: 40px;
}
@media (min-width: 300px) {
  .whatsapp .whatsappImagen {
    height: 35px;
    width: 35px;
  }
}
.whatsapp .whatsappImagen:hover {
  transition: all 0.5s ease;
  height: 50px;
  width: 50px;
}

.tituloMenu {
  font-family: "Montserrat", sans-serif;
}

.carrito {
  font-size: 15px;
  width: 20px;
  height: 20px;
}

header .offcanvasBack {
  background-color: rgba(224, 174, 174, 0.884);
  border-color: black;
}
header .offcanvasBack:hover {
  background-color: rgba(224, 174, 174, 0.884);
  border-color: black;
  border-color: white;
}
header .offcanvasBack:enabled {
  background-color: rgba(224, 174, 174, 0.884);
  border-color: black;
}

/* Inicio */
body {
  background-image: url(../images/19021593.jpg);
  user-select: none;
}

.tituloPrincipal {
  padding-top: 100px;
  padding-left: auto;
  padding-right: auto;
  font-family: "Tinos", serif;
}

.tituloAccesorios {
  font-family: "Dancing Script", cursive;
  font-size: 30PX;
  margin-top: -20px;
  margin-left: 200px;
}

.quienesSomos {
  font-style: oblique;
}

.nosotrosKalia {
  text-justify: auto;
  font-weight: 350;
  background-color: #f6d1c99c;
  border-radius: 6px;
}

.form-control:focus {
  border: purple;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.116), 0 0 8px rgba(206, 109, 177, 0.6);
}

.imagenProducto {
  width: 18rem;
  height: 18rem;
}

/* Separador */
.separadorBG {
  background-color: rgba(192, 178, 178, 0.664);
}

.separadorLink {
  cursor: default;
}
.separadorLink:hover {
  transition: all 0.5s;
  transform: scale(1.03);
}

.contactoEmail .btn {
  background-color: #212529;
  border-color: pink;
}
.contactoEmail .btn:hover {
  border-color: black;
}

/* Imagenes index */
.imagenProducto {
  width: 18rem;
  height: 18rem;
}

.tarjetaIndex:hover {
  transition: all 0.5s;
  transform: scale(1.07);
  -webkit-box-shadow: -1px 4px 15px 4px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 4px 15px 4px rgba(0, 0, 0, 0.75);
  box-shadow: -1px 4px 15px 4px rgba(0, 0, 0, 0.75);
}
.tarjetaIndex .btn {
  background-color: #a88f8b9c;
  border-color: black;
  background-color: #1a1b1db6;
}
.tarjetaIndex .btn:hover {
  border-color: white;
}

.paddingTarjetas {
  padding-bottom: 10px;
  padding-top: 5px;
}

.textoProductoIndex {
  color: #555353;
}

/* Mapa Contacto*/
.map {
  min-height: 90%;
}

.tituloSeccion {
  padding-top: 100px;
  padding-bottom: 25px;
  font-family: "Dancing Script", cursive;
}

.imagenProducto {
  width: 18rem;
  height: 18rem;
}

.tarjetaProducto {
  background-color: rgba(192, 178, 178, 0.664);
}
.tarjetaProducto .btn {
  background-color: #212529;
  border-color: pink;
}
.tarjetaProducto:hover {
  transition: all 0.5s;
  transform: scale(1.03);
  -webkit-box-shadow: -1px 4px 15px 4px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 4px 15px 4px rgba(0, 0, 0, 0.75);
  box-shadow: -1px 4px 15px 4px rgba(0, 0, 0, 0.75);
}

.shadowBtn:focus {
  border-color: red;
  box-shadow: #6d3e3e;
}

/*# sourceMappingURL=style.css.map */
