@import '../base/color';
@import '../base/configBotones';


/* Imagenes index */
@import '../base/configImagenes';


$colorBgTarjeta: #212529;


.tarjetaIndex{
    &:hover{
        @include configuracionAnimacion(0.5s, scale(1.07));
        -webkit-box-shadow: -1px 4px 15px 4px rgba(0,0,0,0.75);
        -moz-box-shadow: -1px 4px 15px 4px rgba(0,0,0,0.75);
        box-shadow: -1px 4px 15px 4px rgba(0,0,0,0.75);
    }
    .btn{
        @include colorBoton(map-get($paletaColores, colorOscuro));
    
        &:hover{
            border-color: white;
        }
    }
}

.paddingTarjetas{
    padding-bottom: 10px;
    padding-top: 5px;
}

.imagenProductoIndex{
    width: 18rem;
    height: 18rem;
}

.textoProductoIndex{
    color: rgb(85, 83, 83);
}
