@import '../base/color';
@import '../base/configBotones';
@import '../base/medias';

/* Header y navbar*/



.logo{
    font-size: 30px;
    /* orientation: landscape; */
    width: 75px;
    height: 75px;  
}
 
@media (min-width:$telefono) {
   .logo{
    width: 55px;
    height: 55px;
   }
}  

.whatsapp{
    padding-left: 20px;
    padding-bottom: 10px;
    @media (min-width:$telefono){
        padding-left: 7px;
        padding-bottom: 37px;
    }

    z-index: 1;
    .whatsappImagen{
        @media (min-width:$telefono){
            height: 35px;
            width: 35px;
        }
        width: 40px;
        &:hover{
            transition: all .5s ease;
            height: 50px;
            width: 50px;
        }
    }
}

.tituloMenu{
    font-family: 'Montserrat', sans-serif;
    
}

.carrito {
    font-size: 15px;
    width: 20px;
    height: 20px;
}

header{
    .offcanvasBack{
        @include backgroundCanvas(map-get($paletaColores, colorOscuro));
        &:hover{
            @include backgroundCanvas(map-get($paletaColores, colorOscuro));
            border-color: white;
        }
        &:enabled{
            @include backgroundCanvas(map-get($paletaColores, colorOscuro));
        }  
    }
}