@import '../base/color';
@import '../base/configBotones';
@import '../base/medias';

/* Header y navbar*/


.navbarMargen{
    margin: 0 auto !important;
}

.logo{
    font-size: 30px;
    /* orientation: landscape; */
    width: 75px;
    height: 75px;  
}
 
@media (min-width:$telefono) {
   .logo{
    width: 55px;
    height: 55px;
   }
}  

.whatsapp{
    /* text-align: right; */
    z-index: 1;
    .whatsappImagen{
        width: 40px;
        &:hover{
            transition: all .5s ease;
            height: 70px;
            width: 70px;
        }
    }
}

.tituloMenu{
    font-family: 'Montserrat', sans-serif;
    
}

.carrito {
    font-size: 15px;
    width: 20px;
    height: 20px;
}

header{
    .offcanvasBack{
        @include colorBoton(map-get($paletaColores, colorOscuro));
        /* background-color: map-get($paletaColores, colorclar);
        color: map-get($paletaColores, colorOscuro); */
        &:hover{
            @include colorBoton(map-get($paletaColores, colorOscuro));
            border-color: white;
        }
        &:enabled{
            @include colorBoton(map-get($paletaColores, colorOscuro));
        }   
    }
}