/* Inicio */
@import '../base/medias';
@import '../base/color';

body{
    background-image: url(../images/19021593.jpg);
    user-select: none;
}

.tituloPrincipal{
    padding-top: 100px;
    padding-left: auto;
    padding-right: auto;
    font-family: 'Tinos', serif;
}

.tituloAccesorios{
    font-family: 'Dancing Script', cursive;
    font-size: 30PX;
    margin-top: -20px;
    margin-left: 200px;
}

.quienesSomos{
    font-style: oblique;
}

.nosotrosKalia{
    text-justify: auto;
    font-weight: 350;
    background-color: map-get($paletaColores, colorTexto);
    border-radius: 6px;
}

.form-control{
    &:focus{
        border: purple;
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.116), 0 0 8px rgba(206, 109, 177, 0.6);
    }
}