/* Inicio */
@import '../base/medias';

body{
    background-image: url(../images/19021593.jpg);
    user-select: none;
}

.tituloPrincipal{
    padding-top: 100px !important;
    padding-left: auto !important;
    padding-right: auto !important;
    font-family: 'Tinos', serif;
}

.tituloAccesorios{
    font-family: 'Dancing Script', cursive;
    font-size: 30PX;
    margin-top: -20px;
    margin-left: 200px;
}

.quienesSomos{
    font-style: oblique;
}

.nosotrosKalia{
    text-justify: auto;
    font-weight: 350;
    background-color: #f6d1c99c;
    border-radius: 6px;
}