$paletaColores:(
    colorTarjeta:rgb(33, 37, 41),
    colorOscuro: #212529,
    colorBtnOscuro:#1a1b1db6,
    colorClaro: #a88f8b9c,
    colorCanvas: rgba(224, 174, 174, 0.884),
    colorBoton: red,
    colorSeparador:rgba(192, 178, 178, 0.664),
    colorHover:#131518,
    colorTexto:#f6d1c99c
);